# RewriteOptions inherit
# RewriteEngine On  # enables url rewriting




# # Turn on the rewrite engine
# RewriteEngine  on
# # If the request doesn't end in .php (Case insensitive) continue processing rules
# RewriteCond %{REQUEST_URI} !\.php$ [NC]
# # If the request doesn't end in a slash continue processing the rules
# RewriteCond %{REQUEST_URI} [^/]$
# # Rewrite the request with a .php extension. L means this is the 'Last' rule
# RewriteRule ^(.*)$ $1.php [L]


DirectoryIndex dashboard.php


# # Options All -Indexes

RewriteEngine On

# Unless directory, remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/$ http://cyberaticrvitm.com/admin/includes/$1 [R=301,L]

# Redirect external .php requests to extensionless URL
RewriteCond %{THE_REQUEST} ^(.+)\.php([#?][^\ ]*)?\ HTTP/
RewriteRule ^(.+)\.php$ http://cyberaticrvitm.com/admin/includes/$1 [R=301,L]

# Resolve .php file for extensionless PHP URLs
RewriteRule ^([^/.]+)$ $1.php [L]
